.list-group-item-actions {
  text-align: right;
}

#mainContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#navMain {
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
  height: 100%;
  background-color: #dd2c00;
  box-shadow: 0 0 5px black;
  overflow: auto;
  padding: 1em;

  div#mainLogo {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    > * {
      /* IE11 */
      flex-shrink: 0;
    }

    #logo img {
      max-width: 100%;
      height: auto;
    }
  }

  h1 {
    color: white;
  }

  .nav-pills {
    color: white;

    > li {
      a {
        color: white;
      }

      &, &.active {
        > a {
          &:hover, &:active, &:focus {
            color: black;
            background-color: #fbe9e7;
          }
        }
      }

      &.active a {
        color: black;
        background-color: #ff8a65;
      }
    }
  }
}

#contentMain {
  flex-shrink: 1;
  flex-grow: 3;
  height: 100%;
  overflow: auto;
  position: relative;

  .container-fluid {
    margin-top: 0;
  }
}

.carousel-container .carousel {
  max-width: 750px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 5px black;
}

#downloads .table {
  tr {
    td, th {
      vertical-align: middle;
    }
  }

  .placeholder-cell {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .download-note {
    font-weight: normal;
    font-size: 70%;
  }

  .btn {
    padding: 0.8em 2em;
    width: 100%;
  }
}

section {
  margin-top: 1em;
  margin-bottom: 3em;

  h2 {
    margin-top: 0;
  }
}

footer {
  margin: 2em;
  text-align: center;

  .footer-build-info {
    margin-top: .5em;
    font-size: 80%;
  }
}

.fa-sizeup-base {
  font-size: 1.6em;
  width: 1.2em;
  text-align: center;
  vertical-align: middle;
}

.fa-heart {
  color: #d32f2f;
}

.js-veil {
  display: none;
}

#screenshots {
  .noscript-img-container {
    text-align: center;
  }

  .img-thumbnail {
    img {
      width: 200px;
      display: block;
    }

    span {
      display: block;
      text-align: center;
    }
  }
}

.center {
  text-align: center;
}

/* Responsive */
@media(max-width: $screen-md-max) {
  #navMain {
    flex-basis: 240px;
  }
}

@media(max-width: $screen-xs-max) {
  #mainContainer {
    position: relative;
    flex-direction: column;
    height: auto;
    overflow: visible;
  }

  #navMain {
    flex-basis: auto;

    /* Chrome */
    height: auto;

    div#mainLogo {
      flex-direction: row;
      align-items: center;

      #logo {
        flex-basis: 64px;
        flex-shrink: 0;
        flex-grow: 0;
        padding-right: 1em;
      }

      h1 {
        flex-basis: 128px;
        flex-shrink: 0;
        flex-grow: 5;
      }
    }

    .nav-pills > li.active a {
      color: white;
      background-color: transparent;
    }
  }

  /* Chrome */
  #contentMain {
    height: auto;
    overflow: hidden;
  }
}
