$icon-font-path: '../fonts/';
$roboto-font-path: '../fonts/';
$fa-font-path: '../fonts/';
$font-family-sans-serif: 'Roboto', 'Helvetica', 'Segoe UI', 'Ubuntu', sans-serif;

$brand-primary: $deep-orange-900;
$brand-success: $green-700;
$brand-danger: $red-700;
$brand-warning: $orange-700;
$brand-info: $blue-grey;
$body-bg: #eeeeee;
$link-color: $deep-orange-900;
$border-radius-base: 2px;
$border-radius-small: 1px;
